# Virtual environment folder (change name if yours is different)
mirra_v1_venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# PyCharm / VSCode settings (optional, IDE-specific)
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
